* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(rgba(63, 208, 212, 0.5), rgba(0, 0, 0, 0.7)),
        url(./map.jpg) center/cover no-repeat;
}

.btn-group {
    background-color: #eeeee4;
    width: 80vw;
    max-width: 37.5em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 30%;
    left: 50%;
    border-radius: 0.62em;
    box-shadow: 0 1.25em 1.8em rgba(8, 21, 65, 0.25);
}

.btn {
    text-transform: uppercase;
    display: inline-block;
    font-size: 0.875rem;
    border: 2px solid var(--clr-black);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: var(--radius);
}

.btn:hover {
    background-color: #21aa86;
    color: white;
}

.container {
    background-color: #eeeee4;
    width: 80vw;
    max-width: 37.5em;
    padding: 3em 2.5em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.62em;
    box-shadow: 0 1.25em 1.8em rgba(8, 21, 65, 0.25);
}

.home {
    top: 20%;
    left: 80%;
    position: absolute;
    font-size: 1em;
    background-color: #21aa86;
    color: #eeeee4;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.search-wrapper {
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.25em;
}

.search-wrapper button {
    font-size: 1em;
    background-color: #21aa86;
    color: #eeeee4;
    padding: 0.8em 0;
    border: none;
    width: 100px;
    border-radius: 1.5em;
}

.search-wrapper input {
    font-size: 1em;
    width: 75%;
    padding: 0 0.62em;
    border: none;
    border-bottom: 2px solid#21aa86;
    outline: none;
    color: #222a43;
}

.filter-btn {
    background: transparent;
    border-color: var(--clr-gold);
    font-size: 1rem;
    text-transform: capitalize;
    margin: 0 0.5rem;
    letter-spacing: 1px;
    border-radius: var(--radius);
    padding: 0.375rem 0.75rem;
    color: var(--clr-gold);
    cursor: pointer;
    transition: var(--transition);
}

.filter-btn:hover {
    background-color: #21aa86;
    color: white;
}

#country-inp {
    background-color: #eeeee4;
}

#name-inp {
    background-color: #eeeee4;
}

#region-inp {
    background-color: #eeeee4;
}

#capital-inp {
    background-color: #eeeee4;
}

#result {
    margin-top: 1.25em;
}

.container .flag-img {
    display: block;
    width: 35%;
    height: auto;
    min-width: 7.5em;
    margin: 1.8em auto 1.2em auto;
}

.container h2 {
    font-weight: 600;
    color: #222a43;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1.8em;
}

.data-wrapper {
    margin-bottom: 1em;
    letter-spacing: 0.3px;
}

.container h4 {
    display: inline;
    font-weight: 500;
    color: #222a43;
}

.container span {
    color: #5d6274;
}

.container h3 {
    text-align: center;
    font-size: 1.2em;
    font-weight: 400;
    color: #ff465a;
}

.search-wrapper {
    display: none;
}

.btn.active {
    background-color: #21aa86;
    color: white;
}

.search-wrapper.active {
    display: block;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--clr-white);
    display: grid;
    justify-content: center;
    align-items: center;
    visibility: visible;
    z-index: 999;
    transition: var(--transition);
}

.hide-preloader {
    z-index: -999;
    visibility: hidden;
}